<div class="container m-2" (click)="onPokemonClicked()">
  <div class="card" style="width: 14rem">
    <img [src]="pokemon.imgSrc" alt="" class="card-img-top">
    <div class="card-body text-white bg-primary">
      <small class="card-subtitle">{{pokemonIdToString()}}</small>
      <h4 class="card-title">{{pokemon.name}}</h4>
    </div>
  </div>
</div>
