<div class="container">
  <form [formGroup]="trainerForm" (ngSubmit)="onSubmitClicked()">
    <div class="input-group mb-3 mt-5">
      <input required [formControl]="trainerName" id="trainerName" name="trainerName" type="text" class="form-control"
        placeholder="Enter your trainer name ..." aria-label="Enter your trainer name ..."
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button [disabled]="trainerForm.invalid" class="btn btn-outline-secondary" type="submit"
          id="button-addon2">SUBMIT</button>
      </div>
    </div>
  </form>
</div>
