<app-trainer-card></app-trainer-card>
<div *ngIf="pokemonMetadata !== []" class="container d-flex flex-wrap">
  <app-pokemon-card *ngFor="let pokemon of pokemonMetadata" [pokemon]="pokemon"
    (clickPokemon)="handleClickPokemon($event)">
  </app-pokemon-card>
</div>
