<div class="container" *ngIf="pokemon">

  <section class="m-3 border align-middle">

    <div class="d-flex">
      <button (click)="getPrevPokemon()" type="button" class="flex-fill btn btn-primary">prev</button>
      <button (click)="getNextPokemon()" type="button" class="flex-fill btn btn-primary">next</button>
    </div>

    <div class="d-flex">

      <small class="m-2">{{pokemonIdToString()}}</small>
      <h4 class="m-1">{{pokemon.name.toUpperCase()}}</h4>

    </div>


    <div class="d-flex justify-content-between">
      <img height="200" width="200" [src]="pokemon.sprites.front_default" alt="Image of the pokemon in subject">
      <ul>
        <h5>Types: </h5>
        <li *ngFor="let type of pokemon.types" [ngClass]="type.type.name">
          {{ type.type.name }}
        </li>

      </ul>

      <ul>
        <h5>Features</h5>
        <li>
          Height: {{pokemon.height}}
        </li>
        <li>
          weight: {{pokemon.weight}}

        </li>
        <li>
          Base experience: {{pokemon.base_experience}}
        </li>
      </ul>

      <ul>
        <h5>Abilites: </h5>
        <li *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</li>
      </ul>

      <div class="mr-3">
        <ul>
          <h5>Stats</h5>
          <li *ngFor="let stat of pokemon.stats">
            {{ stat.stat.name }}: {{stat.base_stat}}
          </li>
        </ul>
      </div>


    </div>

    <div d-flex>
      <button (click)=" hasCollected() ? handleRemovePokemon() : handleCollectPokemon()" type="button"
        class="btn btn-primary btn-large btn-block">{{hasCollected() ? "Remove" : "Collect"}}</button>
    </div>


    <div>
      <h5 class="m-3">Move set:</h5>
      <ul class="d-flex flex-wrap">
        <li class="p-2 border m-2" *ngFor="let move of pokemon.moves"> {{move.move.name}}</li>
      </ul>
    </div>

  </section>


</div>
