<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Trainer name: {{trainerName}}</h4>
    </div>
    <button type="button" class="btn btn-danger" (click)="handleLogout()">Lougout</button>
  </div>
</div>
