<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="http://logos-download.com/wp-content/uploads/2016/07/Pok%C3%A9mon_logo.png" alt="" class="d-inline-block align-top navbar-brand" loading="lazy"
    height="60" width="140">

  <a class="nav-link active" routerLink="/trainer">Home <span class="sr-only">(current)</span></a>
  <a class="nav-link" [routerLink]="['/catalogue', 0]">Catalogue</a>
</nav>
