<div class="d-flex">
  <button (click)="handlePrevClicked()" type="button" class="flex-fill btn btn-primary">prev</button>
  <button (click)="handleNextClicked()" type="button" class="flex-fill btn btn-primary">next</button>
</div>


<div class="container d-flex flex-wrap">
  <app-pokemon-card *ngFor="let pokemon of pokemonMetadata" [pokemon]="pokemon"
    (clickPokemon)="handleClickPokemon($event)">
  </app-pokemon-card>
</div>
